@use "global" as *;

.layout-footer {
    margin-top: rem(103);
    @include mq("md") {
        margin-top: rem(160);
    }
}

.layout-footer.layout-footer--space {
    margin-top: initial;
    padding-top: rem(90);
    @include mq("md") {
      padding-top: rem(228);
    }
}