@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

// $base-font: "Gotu", "Noto Sans JP", sans-serif;
$font-en: "Lato", "Gotu", sans-serif;
$font-en2: "Gotu", sans-serif;
$font-jp: "Noto Sans JP", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #000;
$white: #fff;
$green: #0d2936;
$green2: #ddf0f1;
$green-accent: #408f95;
$gray: #d9d9d9;
$red: #C94800;;


body {
    font-family: $font-jp;
    color: $green;
}

/* ハンバーガーメニュー展開時、背景を固定 */
body.is-open {
    height: 100%;
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrap.wrap-bg-color {
    background-color: $green-accent;
}

main {
    flex: 1;
}

/* 768px以上の場合のスタイル */
@media (min-width: 768px) {
    body.is-open {
        height: auto;
        overflow: visible;
    }
}

a:hover {
    opacity: 0.7;
    transition: all 0.3s;
}

address {
    font-style: normal;
}
