@use "global" as *;

.aboutUs {
}

.aboutUs__inner {
    position: relative;
}

.aboutUs__inner::before {
    position: absolute;
    content: "";
    background: url(../images/common/voice-fish.svg) center center / contain no-repeat;
    width: rem(120);
    height: rem(55);
    top: rem(-23);
    left: calc(50% - min(48vw, rem(620)));
    z-index: -1;
    @include mq("md") {
        width: rem(301);
        height: rem(138);
        top: rem(-68);
    }
}

.aboutUs__container {
    position: relative;
}

.aboutUs__image-box {
    position: relative;
}

.aboutUs__image-left {
    @include mq("md") {
        position: relative;
        width: 37.10144%;
        z-index: 1;
    }
}

.aboutUs__image-left img {
    @include mq("md") {
        aspect-ratio: 128/194;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.aboutUs__image-right {
    @include mq("md") {
        width: 81.44927%;
        margin-top: -49%;
        margin-left: auto;
    }
}

.aboutUs__image-right img {
    aspect-ratio: 281/186;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.aboutUs__text-box {
    margin-top: rem(42);
    z-index: 2;
    @include mq("md") {
        position: absolute;
        top: 39%;
        left: 57.5%;
        transform: translate(-50%, -50%);
        width: 77.77777777777778%;
        display: flex;
        gap: rem(40);
    }
}

.aboutUs__sub-head {
    position: absolute;
    top: rem(24);
    left: rem(24);
    font-size: rem(40);
    font-weight: $regular;
    color: $white;
    line-height: 1;
    font-family: $font-en2;
    font-size: clamp(rem(40), 25 / 375 * 100vw, rem(80));
    @include mq("md") {
        line-height: calc(100 / 80);
        text-align: justify;
        min-width: rem(400);
        position: static;
    }
}

.aboutUs__sub-head span {
    text-transform: capitalize;
}

.aboutUs__text {
    @include mq("md") {
        color: $white;
        max-width: rem(400);
        width: 100%;
        padding-top: rem(50);
    }
}
