@use "global" as *;

.blog {
}

.blog__inner {
    position: relative;
}

.blog__inner::before {
    position: absolute;
    content: "";
    width: rem(120);
    height: rem(55);
    left: calc(50% - min(48vw, rem(620)));
    top: rem(-25);
    z-index: -1;
    background: url(../images/common/voice-fish.svg) center center / contain no-repeat;
    @include mq("md") {
        width: rem(308);
        height: rem(138);
        top: rem(-70);
    }
}

.blog__wp-pagenavi {
    margin-top: rem(80);
    @include mq("md") {
        margin-top: rem(78);
    }
}
