@use "global" as *;

.blog-detail-main {
    @include mq("md") {
        width: calc(700 / 1080) * 100%;
    }
}

.blog-detail-main__date {
    font-size: rem(14);
    line-height: 1;
    font-family: $font-en2;
}

.blog-detail-main__title {
    font-size: rem(24);
    font-weight: $medium;
    line-height: 1;
    border-bottom: 1px solid $green-accent;
    margin-top: rem(14);
    padding-bottom: rem(10);
    @include mq("md") {
        font-size: rem(32);
        padding-bottom: rem(5);
    }
}

.blog-detail-main__content {
    margin-top: rem(24);
    @include mq("md") {
        margin-top: rem(40);
    }
}

.blog-detail-main__content figure:nth-of-type(n + 2) {
    margin-top: rem(24);
    @include mq("md") {
        margin-top: rem(40);
    }
}

.blog-detail-main__content figure img {
    aspect-ratio: 345/231;
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include mq("md") {
        aspect-ratio: 700/468;
    }
}

.blog-detail-main__content p {
    margin-top: rem(24);
    @include mq("md") {
        margin-top: rem(40);
    }
}

.blog-detail-main__content ul {
    margin-top: rem(30);
    padding-left: rem(28);
    @include mq("md") {
        margin-top: rem(46);
    }
}

.blog-detail-main__content li {
    color: $green;
    font-size: rem(16);
    font-weight: $regular;
    position: relative;
}

.blog-detail-main__content li::before {
    position: absolute;
    content: "";
    width: rem(18);
    height: rem(18);
    top: rem(4);
    left: rem(-28);
    mask-image: url(../images/common/starfish.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $green-accent;
}

.blog-detail-main__content li:nth-of-type(n + 2) {
    margin-top: rem(12);
}

.blog-detail-main__pagenavi {
    margin-top: rem(41);
    @include mq("md") {
        margin-top: rem(82);
    }
}
