@use "global" as *;

.blog-detail {
}

.blog-detail__inner {
	position: relative;
}

.blog-detail__inner::before {
	position: absolute;
    content: "";
    width: rem(120);
    height: rem(55);
    left: calc(50% - min(48vw, rem(620)));
    top:  rem(-17);
    z-index: -1;
    background: url(../images/common/voice-fish.svg) center center / contain no-repeat;
    @include mq("md") {
        width: rem(308);
        height: rem(138);
        top: rem(-67);
    }
}

.blog-detail__side-menu {
    margin-top: rem(75);
    @include mq("md") {
        margin-top: initial;
    }
}