@use "global" as *;

.blog-side-menu-card {
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
	margin-inline: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: rem(24);
	@include mq("md") {
		padding-bottom: rem(22);
	}
}

.blog-side-menu-card > a {
	height: 100%;
	background-color: $white;
	display: flex;
	flex-direction: column;
	@include mq("md") {
		height: auto;
	}
}
.blog-side-menu-card__image img {
	aspect-ratio: 294/188;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.blog-side-menu-card__body {
	padding-top: rem(16);
	padding-inline: rem(23);
	display: flex;
	flex-direction: column;
	flex: 1;
	@include mq("md") {
		padding-top: rem(13);
		padding-inline: rem(16);
	}
}
.blog-side-menu-card__title {
	font-size: rem(16);
	font-weight: $medium;
	line-height: 1;
	border-bottom: 1px solid $green-accent;
	margin-top: rem(8);
	padding-bottom: rem(12);
	flex: 1;
	text-align: center;
	@include mq("md") {
		padding-bottom: rem(12);
	}
}
.blog-side-menu-card__text {
	font-size: rem(14);
	font-weight: $regular;
	text-align: center;
	margin-top: rem(10);
	@include mq("md") {
		margin-top: rem(8);
	}
}

.blog-side-menu-card__price-wrap {
	margin-top: rem(8);
	line-height: 1;
	display: flex;
	justify-content: center;
	@include mq("md") {
		margin-top: rem(12);
	}
}
.blog-side-menu-card__price-sub {
	font-size: rem(20);
	font-weight: $bold;
	text-align: right;
	font-family: $font-en;
	text-decoration: line-through;
	text-decoration-color: red;
	text-decoration-thickness: rem(3);
	display: flex;
	align-items: center;
}
.blog-side-menu-card__price-main {
	font-family: $font-en;
	font-size: rem(32);
	font-weight: $bold;
	color: $green-accent;
	margin-left: rem(16);
	@include mq("md") {
		margin-left: rem(19);
	}
}