@use "global" as *;

.blog-side-menu-archive {
}

.blog-side-menu-archive__list {
	margin-top: rem(28);
}

.blog-side-menu-archive__list-item + .blog-side-menu-archive__list-item {
	margin-top: rem(7);
}

.blog-side-menu-archive__year,
.blog-side-menu-archive__month  {
    color: $green-accent;
    font-size: rem(24);
    font-weight: $regular;
    line-height: 1;
    cursor: pointer;
}

.blog-side-menu-archive__month a {
    padding-block:  rem(7.5);
    display: inline-block;
}

.blog-side-menu-archive__month-wrap {
    padding-left: rem(28);
    margin-top: rem(8);
	display: none;
}


.blog-side-menu-archive__year::before {
    content: "";
    border-left: rem(10) solid transparent;
    border-right: rem(10) solid transparent;
    border-bottom: rem(17) solid $green-accent;
    display: inline-block;
    margin-right: rem(10);
    margin-top: rem(4);
}

.blog-side-menu-archive__month a::before {
    content: "";
    border-left: rem(10) solid transparent;
    border-right: rem(10) solid transparent;
    border-bottom: rem(17) solid $green-accent;
    display: inline-block;
    margin-top: rem(4);
    margin-right: rem(10);
    transform: rotate(90deg);
}

.blog-side-menu-archive__year.is-open::before {
    transform: rotate(180deg);
    transition: all 0.5s ease 0s;
}

.blog-side-menu-archive__year::before,
.blog-side-menu-archive__month::before {
    transition: all 0.5s ease 0s;
    transform: rotate(90deg);
}


