@use "global" as *;

.breadcrumbs {
    position: relative;
    z-index: 100;
}

.breadcrumbs span {
    font-size:  rem(14);
}

.breadcrumbs.breadcrumbs--color-reverse {
    color: $white;
}

.breadcrumbs.breadcrumbs--color-reverse a span::after {
    border-top: 1px solid $white;
    border-right: 1px solid $white;

}