@use "global" as *;

.campaign-card-contents {
}

.campaign-card-contents__inner {
    position: relative;
    max-width: rem(600);
    width: 100%;
    padding-inline: rem(47.5);
    margin-inline: auto;
    position: relative;
    @include mq("md") {
        max-width: $inner + strip-unit($padding-pc) * 2;
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}

.campaign-card-contents__inner::before {
    position: absolute;
    content: "";
    width: rem(120);
    height: rem(55);
    left: calc(50% - min(48vw, rem(620)));
    top: rem(-147);
    z-index: -1;
    background: url(../images/common/voice-fish.svg) center center / contain no-repeat;
    @include mq("md") {
		width: rem(308);
        height: rem(138);
		top: rem(-144);
    }
}


.campaign-card-contents__wp-pagenavi {
    margin-top: rem(80);
    @include mq("md") {
      margin-top: rem(76);
    }
}