@use "global" as *;

.campaign-card {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    margin-inline: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: rem(24);
    @include mq("md") {
        padding-bottom: rem(44);
    }
}

.campaign-card.campaign-card--space {
    @include mq("md") {
      padding-bottom: rem(24);
    }
}

.campaign-card > a {
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    @include mq("md") {
        height: auto;
    }
}

.campaign-card__image img {
    aspect-ratio: 280/188;
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include mq("md") {
        aspect-ratio: 520/347;
    }
}

.campaign-card__body {
    padding-top: rem(16);
    padding-inline: rem(16);
    display: flex;
    flex-direction: column;
    flex: 1;
    @include mq("md") {
        padding-top: rem(24);
        padding-inline: rem(16);
    }
}

.campaign-card__body.campaign-card__body--large-space {
    @include mq("md") {
        padding-inline: rem(24);
    }
}

.campaign-card__body.campaign-card__body--space {
    padding-inline: rem(24);
    padding-top: rem(6);
    @include mq("md") {
        padding-top: rem(8);
        padding-inline: rem(24);
    }
}

.campaign-card__tag span {
    display: inline-flex;
    align-items: center;
    font-size: rem(12);
    color: $green-accent;
    font-weight: $regular;
    line-height: 1;
    padding: rem(8) rem(11.5);
    border: 1px solid $green-accent;
    @include mq("md") {
        padding: rem(10) rem(15);
    }
}

.campaign-card__title {
    font-size: rem(16);
    font-weight: $medium;
    line-height: 1;
    border-bottom: 1px solid $green-accent;
    margin-top: rem(8);
    padding-bottom: rem(12);
    flex: 1;
    @include mq("md") {
        font-size: rem(16);
        padding-bottom: rem(12);
    }
}

.campaign-card__title.campaign-card__title--large {
    @include mq("md") {
        font-size: rem(24);
    }
}

.campaign-card__title.campaign-card__title-center {
    text-align: center;
}

.campaign-card__text {
    font-size: rem(14);
    font-weight: $regular;
    text-align: center;
    margin-top: rem(10);
    @include mq("md") {
        font-size: rem(16);
        margin-top: rem(16);
    }
}

.campaign-card__text.campaign-card__text--large-space {
    @include mq("md") {
        margin-top: rem(24);
    }
}

.campaign-card__text.campaign-card__text--space {
    @include mq("md") {
        margin-top: rem(8);
        font-size: rem(14);
    }
}

.campaign-card__price-wrap {
    margin-top: rem(8);
    line-height: 1;
    display: flex;
    justify-content: center;
    @include mq("md") {
        margin-top: rem(6);
    }
}

.campaign-card__price-wrap.campaign-card__price-wrap--space {
    @include mq("md") {
        margin-top: rem(10);
    }
}

.campaign-card__price-sub {
    font-size: rem(20);
    font-weight: $bold;
    text-align: right;
    font-family: $font-en;
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: rem(3);
    display: flex;
    align-items: end;
    @include mq("md") {
        font-size: rem(24);
    }
}

.campaign-card__price-sub.campaign-card__price-sub--small {
    font-size: rem(20);
}

.campaign-card__price-main {
    font-family: $font-en;
    font-size: rem(32);
    font-weight: $bold;
    color: $green-accent;
    margin-left: rem(16);
    @include mq("md") {
        font-size: rem(40);
        margin-left: rem(26);
    }
}

.campaign-card__price-main.campaign-card__price-main--small {
    font-size: rem(30);
    margin-left: rem(14);
}

.campaign-card__price-main.campaign-card__price-main--large-space {
    @include mq("md") {
        margin-left: rem(41);
    }
}

.campaign-card__content-wrap {
    @include mq("md") {
        margin-top: rem(26);
    }
}

.campaign-card__content {
    @include mq("md") {
        font-size: rem(16);
        line-height: calc(24 / 16);
        font-weight: $regular;
    }
}

.campaign-card__date {
    @include mq("md") {
        font-size: rem(16);
        line-height: 1;
        font-weight: $bold;
        font-family: $font-en;
        color: $green-accent;
        text-align: center;
        margin-top: rem(32);
    }
}

.campaign-card__reserved {
    @include mq("md") {
        font-size: rem(14);
        line-height: 1;
        font-weight: $regular;
        color: $green-accent;
        text-align: center;
        margin-top: rem(11);
    }
}

.campaign-card__button {
    display: none;
    @include mq("md") {
        display: block;
        text-align: center;
        margin-top: rem(18);
    }
}
