@use "global" as *;

.drawer {
    width: 100%;
    height: 100vh;
    background-color: $green-accent;
    pointer-events: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-top: rem(10);
    padding-inline: rem(15);
    padding-bottom: rem(95);
    display: none;
}


