@use "global" as *;

.faq-list {
}

.faq-list__item {
    max-width: rem(700);
    width: 100%;
    margin-inline: auto;
    background-color: #fff;
    box-shadow: 0 0 rem(40) 0 rgba(0, 0, 0, 0.05);
}

.faq-list__item + .faq-list__item {
    margin-top: rem(39.7);
    @include mq("md") {
        margin-top: rem(39);
    }
}

.faq-list__item-question {
    position: relative;
    padding-block: rem(15.5);
    padding-left: rem(16);
    padding-right: rem(45);
    font-size: rem(16);
    color: $white;
    text-align: justify;
    background-color: $green-accent;
    cursor: pointer;
    @include mq(md) {
        padding-block: rem(25);
        padding-left: rem(40);
        padding-right: rem(80);
        font-size: rem(20);
    }
}

.faq-list__item-question::before {
    background-color: $white;
    content: "";
    height: 1px;
    position: absolute;
    right: rem(15);
    top: 50%;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
    width: rem(28);
    @include mq("md") {
        right: rem(40);
        width: rem(32);
    }
}

.faq-list__item-question::after {
    background-color: $white;
    content: "";
    height: 1px;
    position: absolute;
    right: rem(15);
    top: 50%;
    transition: opacity 0.3s ease-in-out;
    width: rem(28);
    @include mq("md") {
        right: rem(40);
        width: rem(32);
    }
}

.faq-list__item-question.is-open::before {
    transform: translateY(-50%) rotate(180deg);
}

.faq-list__item-answer {
    padding-inline: rem(16);
    padding-block: rem(22.5);
    display: none;
    font-size: rem(16);
    line-height: 1.45;
    border: solid 1px $green-accent;
    @include mq(md) {
        padding-block: rem(39);
        padding-inline: rem(40);
        font-size: rem(16);
        margin-top: rem(16);
    }
}
