@use "global" as *;

.form-checkbox label {
    display: block;
}

.form-checkbox label:not(:first-of-type) {
    margin-top: rem(3);
}

.form-checkbox input {
    display: none;
}

.form-checkbox input + span {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 rem(25);
    position: relative;
    font-size: rem(16);
    line-height: 1;
}

.form-checkbox input + span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: $white;
    border: 1px solid $green-accent;
    display: block;
    width: rem(15);
    height: rem(15);
}

.form-checkbox input + span::after {
    content: "";
    margin-top: rem(-2);
    position: absolute;
    top: 50%;
    left: rem(2);
    transform: translateY(-50%) rotate(-45deg);
    display: block;
    width: rem(12);
    height: rem(6);
    border-bottom: rem(2) solid $red;
    border-left: rem(2) solid $red;
    transition: 0.3s;
    opacity: 0;
}

.form-checkbox input:checked + span::after {
    opacity: 1;
}