@use "global" as *;

.global-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.global-menu.sitemap__menu {
    color: $green-accent;
}

.footer__menu {
    margin-top: rem(28);
    @include mq("md") {
        margin-top: rem(18);
    }
}

.global-menu__left {
    padding-left: rem(20);
    @include mq("md") {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

.global-menu__right {
    margin-left: rem(23);
    @include mq("md") {
        margin-left: rem(22);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

.global-menu__right.global-menu__right--space {
    margin-left: rem(38);
}

.global-menu__left .global-menu__wrap:nth-child(2) {
    @include mq("md") {
        margin-left: rem(27);
    }
}

.global-menu__right .global-menu__wrap:nth-child(2) {
    @include mq("md") {
        margin-left: rem(20);
    }
}

.global-menu__items + .global-menu__items {
        margin-top: rem(18);
        @include mq("md") {
            margin-top: rem(14);
        }
}

.global-menu__right .global-menu__wrap:last-child .global-menu__items:nth-child(n + 2) {
    margin-top: rem(5);
}

.global-menu__items.global-menu__items--color > li {
    color: $green;
}

.global-menu__item {
    color: $white;
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(18 / 16);
}

.global-menu__item-head a,
.global-menu__item a {
    display: flex;
    align-items: center;
    padding: rem(12.7) 0;
}

.global-menu__item-head {
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(18 / 16);
    position: relative;
}

.global-menu__item-head::before {
    position: absolute;
    z-index: 100;
    content: "";
    width: rem(18);
    height: rem(18);
    left: rem(-22);
    top: rem(14);
    background: url(../images/common/starfish.svg) center center / contain no-repeat;
}

.global-menu__item-head.global-menu__item-head--icon-color::before {
    mask-image: url(../images/common/starfish.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $green;
    font-weight: $bold;
}
