@use "global" as *;

.hamburger {
    z-index: 9999;
    width: rem(30);
    padding: rem(28);
    height: inherit;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}


.hamburger span {
    position: absolute;
    left: rem(9);
    display: inline-block;
    width: rem(33);
    height: rem(2);
    transition: transform 0.5s;
    background-color: white;
}

.hamburger.is-open {
    right: 0;
}

.hamburger span:nth-child(1) {
    top: rem(28);
}

.hamburger span:nth-child(2) {
    top: rem(40);
    transition: opacity 0.5s;
}

.hamburger span:nth-child(3) {
    top: rem(52);
}

.hamburger.hamburger.is-open span:nth-child(1) {
    transform: translateY(rem(11)) rotate(39deg);
    background-color: white;
}

.hamburger.hamburger.is-open span:nth-child(2) {
    opacity: 0;
}

.hamburger.hamburger.is-open span:nth-child(3) {
    transform: translateY(rem(-13)) rotate(-39deg);
    background-color: white;
}
