@use "global" as *;

.information {
}

.information__inner {
    position: relative;
}

.information__inner::before {
    position: absolute;
    content: "";
    width: rem(120);
    height: rem(55);
    left: calc(50% - min(48vw, rem(620)));
    top: rem(-94);
    z-index: -1;
    background: url(../images/common/voice-fish.svg) center center / contain no-repeat;
    @include mq("md") {
        top: rem(-69);
        width: rem(308);
        height: rem(138);
    }
}

.information-tab__wrap {
    border: 1px solid $green-accent;
    padding: rem(23);
    @include mq("md") {
        display: flex;
        gap: 4.444444%;
        padding-block: rem(23);
        padding-inline: rem(24);
    }
}

.information-tab__content {
    @include mq("md") {
        width: 50%;
        padding-top: rem(63);
    }
}

.information-tab__head {
    font-size: rem(24);
    font-weight: $bold;
    line-height: 1;
    border-bottom: 1px solid $green-accent;
    padding-bottom: rem(9);
    @include mq("md") {
        font-size: rem(24);
        padding-bottom: rem(8);
    }
}

.information-tab__text {
    margin-top: rem(8);
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24 / 16);
    text-align: justify;
}

.information-tab__image {
    margin-top: rem(8);
    @include mq("md") {
        margin-top: initial;
        width: 50%;
    }
}

.information-tab__image img {
    aspect-ratio: 297 /189;
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include mq("md") {
        aspect-ratio: 492/312;
    }
}
