@use "global" as *;

.opening-mv {
    overflow: hidden;
}

.opening-mv__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:$white;
}

.opening-mv__title-content {
    color: $green-accent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    width: fit-content;
    line-height: 1;
}

.opening-mv__title {
    font-size: rem(40);
    font-weight: $regular;
    letter-spacing: 0.54em;
    font-family: $font-en;
    text-transform: uppercase;
    @include mq("md") {
        font-size: rem(80);
    }
}

.opening-mv__title-sub {
    display: inline-block;
    font-size: rem(20);
    font-weight: $regular;
    margin-top: rem(16);
}

.opening-mv__wrap {
    display: flex;
    width: 100%;
    height: 100%;
}

.opening-mv__left,
.opening-mv__right {
    width: 100%;
}
.opening-mv__left img,
.opening-mv__right img {
    height: 100vh;
    width: 100%;
}
