@use "global" as *;

.page-top {
    bottom: 0;
    padding: rem(20);
    position: fixed;
    right: 0;
    z-index: 1000;
}

.page-top img {
    width: rem(48);
    height: rem(48);
    @include mq("md") {
        width: rem(80);
        height: rem(80);
    }
}

