@use "global" as *;

.popular-link {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.popular-link a {
    display: flex;
    gap: rem(16);
    padding: rem(16);
}

.popular-link__image {
    width: 46.36%;
    overflow: hidden;
}

.popular-link__image img {
    aspect-ratio: 121/90;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.blog-side-menu-popular__link:hover .popular-link__image img {
    transform: scale(1.2);
    transition: 0.5s;
}

.popular-link__content {
    width: 47.26%;
}

.popular-link__date {
    display: flex;
    align-items: flex-start;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
}

.popular-link__text {
    font-size: rem(16);
    font-weight: $medium;
    line-height: 1;
    margin-top: 13px;
}
