@use "global" as *;

.side- {
    height: rem(50);
    border-left: rem(8) solid $green-accent;
    font-size: rem(24);
    font-weight: $regular;
    line-height: 1;
    padding-left: rem(19);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.side-::before {
    content: "";
    width: rem(42);
    height: rem(42);
    mask-image: url(../images/common/tab-menu-icon.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $green;
    margin-right: rem(13);
}
