@use "global" as *;

.sitemap {
}

.sitemap__inner {
    position: relative;
}

.sitemap__inner::before {
    position: absolute;
    content: "";
    width: rem(120);
    height: rem(55);
    left: calc(50% - min(48vw, rem(172)));
    top: rem(-13);
    z-index: -1;
    background: url(../images/common/voice-fish.svg) center center / contain no-repeat;
    @include mq("md") {
        left: calc(50% - min(48vw, rem(624)));
        width: rem(308);
        height: rem(138);
        top: rem(-68);
    }
}
