@use "global" as *;

.tag-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: rem(20);
    grid-row-gap: rem(18);
    position: relative;
    @include mq("md") {
        grid-column-gap: rem(32);
        grid-template-columns: repeat(5, rem(162));
        grid-template-rows: 1fr;
    }
}
