@use "global" as *;

.voice-card {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 100%;
    background-color: $white;
    padding: rem(15) rem(16) rem(24);
    @include mq("md") {
        padding: rem(24);
    }
}

.voice-card__container {
    display: flex;
    align-items: flex-end;
    gap: rem(13);
    @include mq("md") {
        gap: rem(16);
    }
}

.voice-card__content {
    @include mq("md") {
        display: flex;
        align-items: flex-end;
    }
}
.voice-card__wrap {
    width: calc(149 / 300) * 100%;
    @include mq("md") {
        width: 60.526%;
    }
}

.voice-card__customer {
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
}

.voice-card__tag {
    display: inline-flex;
    align-items: center;
    font-size: rem(12);
    color: $green-accent;
    font-weight: $regular;
    line-height: 1;
    padding: rem(8) rem(11.5);
    border: 1px solid $green-accent;
    margin-top: rem(4);
    @include mq("md") {
        padding: rem(10) rem(15);
        margin-left: auto;
    }
}

.voice-card__title {
    font-size: rem(16);
    font-weight: $medium;
    border-bottom: 1px solid $green-accent;
    margin-top: rem(5);
    @include mq("md") {
        font-size: rem(24);
        margin-top: rem(8);
    }
}

.voice-card__img {
    width: calc(151 / 300) * 100%;
    @include mq("md") {
        width: 39.473%;
    }
}

.voice-card__img img {
    aspect-ratio: 151/117;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.voice-card__text {
    font-weight: $regular;
    margin-top: rem(16);
    @include mq("md") {
        margin-top: rem(40);
    }
}
